{% doc %}
  Card snippet to display a card with an image and title

  @param {unknown} foo - Unknown parameter
{% enddoc %}

{% if closest.product == blank %}
  {% assign text = 'placeholders.product_title' | t %}
  {% assign product_title = '<p>' | append: text | append: '</p>' %}
  {% render 'text', fallback_text: product_title, block: block %}
{% elsif closest.product != blank %}
  {% assign product_title = '<p>' | append: closest.product.title | append: '</p>' %}
  <a
    class="contents user-select-text"
    ref="productTitleLink"
    href="{% render 'product-card-variant-url', product: closest.product %}"
    aria-hidden="true"
  >
    {% render 'text', fallback_text: product_title, block: block %}
  </a>
{% endif %}